.header-menus {
  position: relative;
  font-size: 1.4rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  padding: 0;
  height: 7rem;
}
.title-pages-menus {
  @media (max-width: 330px) {
    font-size: 1.5rem;
  }
}
.menus {
  background-color: #f6f6f6;
}

.arrow {
  font-size: 1.5rem;
  display: block;
  position: absolute;
  left: 20px;
  top: 40%;
}
img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}
.menus-restaurants {
  position: relative;
  border-radius: 30px 30px 0 0;
  z-index: 10;
  top: -2rem;
  background-color: #f6f6f6;
}
.title-restaurant-menus {
  font-family: Shrikhand, Roboto, sans-serif;
  padding: 1rem;
  @media (max-width: 300px) {
    font-size: 1.3rem;
  }
}
.heart {
  position: relative;
}
.fill {
  position: absolute;
  right: 1rem;
  top: 25%;
}
.fas {
  color: transparent;
  opacity: 0;
  transition: all 300ms ease-in;
}
.fas:hover {
  background-image: linear-gradient(
    to top,
    #9356dc,
    #b35cdc,
    #cf64dc,
    #e86edb,
    #ff79da
  );
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
}

.blocks-menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  @media (max-width: 930px) {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.title-blocks-menus {
  width: 100%;
  height: 1rem;
  padding: 2rem 0.5rem 0.2rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 100;
}
.line {
  width: 2.5rem;
  border-top: 0.25rem solid #99e2d0;
  margin-left: 1rem;
}
.blocks-menus h5 {
  font-size: 1rem;
}
.blocks-menus span {
  padding-left: 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.blocks-descriptions-menus {
  background-color: #fff;

  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
  @include base-shadow;
  .texts-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;
  }
  .texts-description p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .validation-dishes {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    height: 100%;
    bottom: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: -3rem;
    width: 3rem;
    transition: margin-right 0.5s;
  }

  &:hover .validation-dishes {
    right: 0;
  }
}
.blocks-descriptions-menus .fa-circle-check {
  color: #fff;
  font-size: xx-large;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
}
.blocks-descriptions-menus:hover .fa-circle-check {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.blocks-descriptions-menus .price {
  transition: padding-right 450ms ease-in-out;
}

.blocks-descriptions-menus:hover .price {
  padding-right: 60px;
}

.box-button-commande {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
button.button-command {
  background-image: linear-gradient(
    to left,
    #9356dc,
    #b35cdc,
    #cf64dc,
    #e86edb,
    #ff79da
  );
  width: 15rem;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  transition: all 300ms;
  @include base-shadow;
}
.button-command:hover {
  transform: scale(1.02);
  opacity: 0.9;
  box-shadow: 3px 3px 6px rgb(0, 0, 0);
}

.transparent-1 {
  opacity: 0;
  -moz-animation: anim 5s linear forwards 1s;
  -webkit-animation: anim 5s linear forwards 1s;
  -o-animation: anim 5s linear forwards 1s;
  -ms-animation: anim 5s linear forwards 1s;
  animation: anim 5s linear forwards 1s;
}
@-moz-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.transparent-2 {
  opacity: 0;
  -moz-animation: anim 5s linear forwards 3s;
  -webkit-animation: anim 5s linear forwards 3s;
  -o-animation: anim 5s linear forwards 3s;
  -ms-animation: anim 5s linear forwards 3s;
  animation: anim 5s linear forwards 3s;
}
@-moz-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.transparent-3 {
  opacity: 0;
  -moz-animation: anim 5s linear forwards 5s;
  -webkit-animation: anim 5s linear forwards 5s;
  -o-animation: anim 5s linear forwards 5s;
  -ms-animation: anim 5s linear forwards 5s;
  animation: anim 5s linear forwards 5s;
}
@-moz-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
