@use "../utils/box-shadow.scss";
@use "../utils/zoom.scss";

.explorer{
    background-color: #f8f8f8;
    text-align: center;
    & h2{
      font-size: 2rem;
    }
    & p{
      font-size: 1.5rem;
    }
    & button{
      cursor: pointer;
      color: white;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      margin-top: 1rem;
      margin-bottom: 3.5rem;
      border: none;
      border-radius: 2rem;
      background-image: linear-gradient(#FF79DA, #9356DC );
      transition: transform 300ms;
      @include box-shadow.base-shadow;
      &:hover{
        @include zoom.zoom;
    }
    }
    
  }