footer{
    background-color: #353535;
    padding: 2rem;
    color: white;
    h2{
        font-family:'Shrikhand', cursive;
        font-weight: 400;
        padding-bottom: 1rem;
        
    }
    p, a{
        padding-bottom: 0.5rem;
        width: 100%;
        color: white;
    }

    i{
        padding-right: 0.5rem;
        color: white;
    }

    
}