* {
  font-family: "Raleway", sans-serif, Tahoma;
  list-style: none;
}

body {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 100%;
}


/*Header*/
h1{
  background-color: rgb(92, 122, 122);
  font-size: 200px;
  justify-content: center;
  text-align: center;
  margin: 40px
}
.paragraphe{
  background-color: rgb(28, 66, 66);
  font-size: 100px;
  justify-content: center;
  text-align: center;
}
p{
  background-color: azure;
  font-size: 50px;
  justify-content: center;
  text-align: center;
}
span{
  font-size: 100px;
}
.ordi2{
  background-color: blueviolet;
}
/*Main*/

/*Media Queries*/
@media (max-width: 992px) {
}

