* {
  font-family: "Raleway", sans-serif, Tahoma;
  list-style: none;
}

body {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 1440px;
}


/*Header*/
h1{
  background-color: aqua;
  font-size: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
}
/*Main*/

/*Media Queries*/
@media (max-width: 992px) {
}

