* {
  font-family: "Raleway", sans-serif, Tahoma;
  list-style: none;
}

body {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 100%;
}


/*Header*/
h1{
  background-color: rgb(92, 122, 122);
  font-size: 150px;
  justify-content: center;
  text-align: center;
  margin: 10px
}
p{
  font-size: 100px;
  justify-content: center;
  text-align: center;
}
/*Main*/

/*Media Queries*/
@media (max-width: 992px) {
}

